// theme color set
$primary-color :#C42727;
$blue-color : #0000FF;
$black-color : #000000;


$dark-grey-color: rgba(0,0,0, 0.8);
$dark-grey-color2: #292727;
$dark-grey-color3:#4D4F5C;

$white-color: #ffffff;

$light-grey-color:#BBB3B1;
$light-grey-color2:#D0D8E8;
$light-grey-color3:#BCBCCB;

$medium-grey-color:#D1D9E0;
$medium-grey-color2:#808495;
$medium-grey-color3:#9FA1AA;


$anchor-color:#0000FF;

$red-color:#DB3D3D;
$dark-red2:#FF0000;
$dark-red3:#CC0000;


$light-blue-color:#F0F0F7;
$dark-blue-color:#43425D;
$dark-blue-color2:#272848;

